<section class="vh-90 d-flex justify-content-center align-items-center">

        <div class="text-center col-md-4">

            <h2 class="text-primary fw-bolder text-center">Retire su tiket</h2>

            <div class="p-3">
                <div class="bg-black w-100 p-1 rounded-pill mx-auto border border-4 border-primary">
                </div>
            </div>
            
                <div class="w-75 mx-auto shadow-lg mt-2 p-3">

                    <hr class="w-75 mx-auto bg-primary p-1">


                    <h5 class="text-center">RUT</h5>
                    <h5>79.948.840-k</h5> 
                    <h5 class="mt-4">NUMERO DE ATENCIÓN</h5>
                    <h2 class="fw-bolder mt-3" >E01</h2>
                    <hr class="w-75 mx-auto bg-primary p-1">
                    <h5 class="mt-4">MUCHAS GRACIAS <br> POR SU ATENCIÓN</h5>
                    <br>

                </div>

            </div>

</section>