<table class="table">
    <tr *ngFor="let fila of teclas">
      <td *ngFor="let tecla of fila">

        <button type="button" class="form-control tecla-width" (click)="selecTecla(tecla.accion, tecla.text)" *ngIf="tecla.accion !== 'delete'">
            {{ tecla.text }}
          </button>

        <button type="button" class="form-control tecla-width" (click)="selecTecla(tecla.accion, tecla.text)" *ngIf="tecla.accion === 'delete'">
          <i class="fas fa-backspace"></i>
        </button>

      </td>
    </tr>
  </table>
