<section class="vh-90 d-flex justify-content-center align-items-center">
    <div class="shadow-lg py-5 px-4 row col-md-9">

        <h2 class="text-primary fw-bolder text-center mb-5">Registros de Agenda</h2>

        <div *ngFor="let agenda of listaAgenda" class="col-md-6 p-2">
            <div class="card border-2">
                <div class="card-header d-flex align-items-center">
                    <p class="fw-bolder me-auto mb-0"> Doctor: {{agenda.doctor}}</p>
                    <p class="fw-bolder mb-0">Hora: {{agenda.hora}}</p>
                </div>
                <div class="card-body">
                    <h6 class="card-title fw-bolder mb-0">Paciente: {{agenda.nombre}} {{agenda.apellido}}</h6>
                    <p class="card-text fw-bolder">Rut: {{agenda.rut}}</p>
                    <button *ngIf="agenda.statuspago == 'checking'" (click)="hacerChecking()" class="btn btn-outline-primary col-md-12">{{agenda.statuspago}}</button>
                    <button *ngIf="agenda.statuspago == 'pagar'" (click)="hacerPago()"  class="btn btn-outline-primary col-md-12">{{agenda.statuspago}}</button>
                </div>
            </div>
        </div>


    </div>
</section>