<section class="vh-90 d-flex justify-content-center align-items-center">
    <div class="shadow-lg py-5 px-4 row col-md-9">
        <h2 class="text-primary fw-bolder text-center mb-5">Detalle de pago</h2>

        <div class="row text-center">
            <div class="col-md-6 border border-2 p-4">
                <h2 class="fw-bolder text-">Total Consulta:</h2>
                <h3 class="fw-bolder">200.000</h3>
                <h2 class="fw-bolder">Iva:</h2>
                <h3 class="fw-bolder">24.000</h3>
            </div>

            <div class="col-md-6 border border-2 p-4">
                <h1 class="fw-bolder">Total a pagar:</h1>
                <h2 class="fw-bolder">224.000</h2>
                <button routerLink="/pagar" class="btn btn-primary btn-lg col-md-4 mt-3">Pagar</button>
            </div>
        </div>

    </div>
</section>