<div class="img-home vh-90 d-flex justify-content-center align-items-center">

    <div class="col-md-6 p-4">
        <div class="text-center ">
            <h1 class="text-white display-5 fw-bold mb-5">BIENVENIDOS</h1>
            <button (click)="abrirSeccion()" class="btn btn-lg col-md-4 btn-primary">INGRESAR</button>
        </div>
    </div>

</div>