<div class="row justify-content-center align-items-center vh-90">

    <div class="d-flex flex-wrap col-sm-7 shadow-lg p-5">

        <div class="col-sm-6">
            <img src="assets/img/medicine.svg" class="img-fluid">
        </div>

        <div class="form col-sm-5 ms-auto">
            <div class="mb-3">
                <h4 class="text-center mb-3">INGRESE RUT</h4>
                <input type="text" [formControl]="rut" maxlength="12" class="form-control"
                    [ngClass]="{'is-invalid': submit == true && validatedRut == false }" placeholder="RUT"
                    (input)="formatRut()" autofocus>
                <div *ngIf="submit == true && validatedRut == false" class="invalid-feedback">
                    Por favor ingrese un rut valido!
                </div>
            </div>

            <div class="mt-3">
                <app-keyboard (tecleado)="tecleado($event)"></app-keyboard>
            </div>

            <div class="mt-3 text-center">
                <button type="submit" (click)="login()" class="btn btn-primary col-md-6">Ingresar</button>
            </div>
        </div>

    </div>
</div>