<section class="vh-90 d-flex justify-content-center align-items-center">
    <div class="shadow-lg py-5 px-4 row col-md-9">

        <h2 class="text-primary fw-bolder text-center mb-5">Presupuestos disponibles</h2>

        <div *ngFor="let presupuesto of listPresupuestos" class="col-md-6 p-2">
            <div class="card border-2">
                <div class="card-header d-flex align-items-center">

                </div>
                <div class="card-body">
                    <div class="text-center mb-2">
                        <h6 class="card-title fw-bolder mb-0">Paciente: {{presupuesto.paciente}}</h6>
                        <p class="card-text fw-bolder">Rut: {{presupuesto.rut}}</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-bolder me-auto mb-0">Doctor:  {{presupuesto.doctor}}</p>
                            <p class="fw-bolder mb-0">Especialidad:  {{presupuesto.especialidad}}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="fw-bolder me-auto mb-0">Presupuesto: {{presupuesto.presupuesto | formatnumb}}</p>
                            <p class="fw-bolder mb-0">Iva: {{presupuesto.iva | formatnumb}}</p>
                        </div>
                        <h5 class="text-center fw-bolder mb-0 mt-3 mb-3">Total: {{presupuesto.presupuesto + presupuesto.iva | formatnumb}}</h5>
                    </div>
                    <button (click)="openModal(presupuesto.presupuesto,presupuesto.iva)" class="btn btn-outline-primary col-md-12">Pagar</button>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal">
      <div class="modal-content shadow">
        <div class="modal-body d-flex flex-column">
            <h2 class="text-primary fw-bolder text-center">Seleccione tipo de aporte</h2>
            <div class="form-check mt-4">
                <input (change)="checkRadio($event)" value="total" class="form-check-input"  type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    <h5 class="fw-bolder">Pagar total: {{total | formatnumb }} </h5>  
                </label>
              </div>
              <div class="form-check mt-4">
                <input (change)="checkRadio($event)" value="abonar" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                   <h5 class="fw-bolder">Abonar a presupuesto:</h5>  
                </label>
                <div *ngIf="radioAbonar == true" class="col-md-8">
                    <input type="number" [formControl]="abono" [value]="abono.value " class="form-control" [ngClass]="{'is-invalid': abono.value > total || abono.invalid }" placeholder="ingrese monto a abonar">
                    <div *ngIf="abono.value > total" class="invalid-feedback">
                        Tu aporte no debe sobrepasar el monto total!
                    </div>
                </div>
              </div>
              <button (click)="hacerPagao()" [disabled]="(!radioTotal && !radioAbonar || radioAbonar && abono.invalid || radioAbonar && abono.value > total )" class="btn btn-primary mt-3">Pagar</button>
        </div>
      </div>
    </div>
  </div>