<section class="vh-90 d-flex justify-content-center align-items-center">

    <div class="shadow-lg py-5 d-flex flex-wrap">
        <h2 class="mx-auto text-primary fw-bolder ">Seleccione operación en pantalla</h2>
        <div class="mx-auto col-md-8">
            <button *ngFor="let menu of menu" [routerLink]="['/',menu.nombre]"  type="button" class="btn btn-outline-primary btn-lg text-capitalize col-md-12 mt-4">
                {{menu.nombre}}
            </button>
        </div>
    </div>

</section>