<section class="vh-90 d-flex justify-content-center align-items-center">
    <div class="shadow-lg py-5 px-4 row col-md-9">
        <h2 class="text-primary fw-bolder text-center mb-5">Por favor ingrese su tarjeta</h2>

        <div class="row col-md-3 mx-auto">

            <img routerLink="/pago-voucher" src="assets/img/tarjeta-in.gif" class="img-fluid" alt="">

        </div>
        
    </div>
</section>
