<section class="vh-90 d-flex justify-content-center align-items-center">
    

    <div class=" col-md-4">

        <h2 class="text-primary fw-bolder text-center">Comprobante de pago</h2>

        <div class="p-3">
            <div class="bg-black w-100 p-1 rounded-pill  border border-4 border-primary">
            </div>
        </div>

        <div class="w-75 mx-auto shadow-lg mt-2 p-3">

            <hr class="w-75 mx-auto bg-primary p-1">


            <h4 class="text-center">Vocher de pago</h4>

            <div class="ms-5">
                <h5>Monto: 200.000</h5>
                <h5>Iva: 24.000</h5>
                <h4>Total: 224.000</h4>
            </div>
            <hr class="w-75 mx-auto bg-primary p-1">
            <h5 class="mt-5 text-center">MUCHAS GRACIAS <br> POR SU ATENCIÓN</h5>
            <br>

        </div>

    </div>

</section>